export(cccvc,ccclon,ccclonw,cccUst)
exportClasses(ccc)
exportClasses(cccUst)

import(nlme)
import(gdata)
importFrom(stats,qnorm)
importFrom(stats,as.formula)
importFrom(stats,contrasts)
importFrom(stats,na.omit)

# S3 methods
S3method(print, "ccc")
S3method(print, "cccUst")
S3method(summary, "ccc")



